@page
@model WebSite.Pages.Shared.UserReceiverModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UserReceiver</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Это служебная страница.</h1>
    <a href="/Index">На главную</a>
</body>
</html>
